<!DOCTYPE html>
<html lang="en">
<script src='https://www.google.com/recaptcha/api.js'></script>

<body>
<h3>Авторизация на сайте</h3>

<div>
    <form action="/Login/checkUser" method="post">
        <p>Имя пользователя: <input title="" type="text" name="usernameLogin" value=""/></p>
        <p>Логин: <input title="" type="text" name="passwordLogin" value=""/></p>
        <input type="submit" value="Авторизация" />
        <div class="g-recaptcha" data-sitekey="6Lf8EgcUAAAAAEjD0p1BNEYuKdkX0jXCbyc9h2Og"></div>

    </form>
</div>

<div>
    <form action="/Register/showRegister" method="post">
        <input type="submit" value="Зарегистрируйтесь" />
    </form>
</div>

</body>
</html>