<!DOCTYPE html>
<html lang="en">
<script src='https://www.google.com/recaptcha/api.js'></script>
<h3>Регистарция на сайте</h3>

<div>
    <form action="/Register/checkPassword" method="post">
        <p>Имя пользователя: <input title="" type="text" name="registerLogin" value=""/></p>
        <p>Пароль: <input title="" type="text" name="registerPassword" value=""/></p>
        <p>Подтверждение пароля: <input title="" type="text" name="registerConfirm" value=""/></p>
        <p>email: <input title="" type="text" name="email" value=""/></p>
        <div class="g-recaptcha" data-sitekey="6Lf8EgcUAAAAAEjD0p1BNEYuKdkX0jXCbyc9h2Og"></div>
        <input type="submit" value="Регистрация" />
    </form>

    <form action="/Login/showLogin" method="post">
        <input type="submit" value="Войти в профиль">
    </form>
</div>


</body>
</html>